version: "3"
services:
  eurekaserver:
    image: "{{ eureka_image_name }}"
    ports:
      - "8761:8761"
  weatherservice:
    image: "{{ weather_service_image_name }}"
    ports:
      - "8081:8081"
    depends_on:
      - eurekaserver
  currencyservice:
    image: "{{ currency_service_image_name }}"
    ports:
      - "8082:8082"
    depends_on:
      - eurekaserver
  predict:
    image: "{{ predict_service_image_name }}"
    ports:
      - "8080:8080"
    depends_on:
      - eurekaserver
      - weatherservice
      - currencyservice